*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  color: wheat;
}

body{
  background-color: rgb(19, 19, 19);
}

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  height: 4rem;
}

nav {
  position: relative;
}


#logo{
  width: 9rem;
}



.menu {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

header ul li{
  text-decoration: none;
  font-weight: 300;
}

.menu a{
  text-decoration: none;
}

main{
  height: auto;
  width: 100%;
}

#hamburger{
  display: none;
  background: none;
  border: none;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

#folder{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url('./src/img/folder.jpg'), linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.3rem;
  border-bottom: 3px solid; 
  border-image: linear-gradient(to right, transparent, #2bb62b, transparent) 1;
}

#folderContent{
  width: 85%;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: wheat;
}

#folderTexts h1{
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

#folderTexts h1 span{
  color: #00ff00;
}

#folderTexts p{
  text-align:start;
  margin-bottom: 1rem;
}

#links{
  display: flex;
  gap: 1.5rem;
  font-size: 2rem;
}

#links a {
  text-decoration: none;
  color: inherit;
}
#links a i {
  color: #00ff00;
  transition: transform 0.3s ease; 
}
#links a i:hover {
  transform: scale(1.2); 
}

#photoContainer{
  display: flex;
  justify-content: center;
}

#photoContainer img{
  width: 320px;
}


#skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

#skillsContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
  gap: 1rem;
}

#skillsContainer span{
  background-color: rgb(29, 29, 29); /* cinza escuro com transparência */
  border: 1px solid #00ff00; /* borda verde fininha */ 
  padding: 20px; 
  text-align: center; 
  font-weight: 600;
  box-shadow: 4px 4px 10px black;
  color: #00ff00; /* letra verde */ 
  transition: transform 0.2s; /* transição suave para aumento de tamanho */ 
  border-radius: 0.4rem;
}

#skillsContainer span:hover {
  transform: scale(1.05); /* aumenta levemente de tamanho ao clicar */
  }

#about{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url('./src/img/folder.jpg'), linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem;
  border-top: 3px solid; 
  border-image: linear-gradient(to right, transparent, #2bb62b, transparent) 1;
}

#about div{
  width: 80vw;
}

#projects{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.projectItem{
  height: 300px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px #131313;
  transition:  0.3s ease;
  gap: 1rem;
  background-color: rgba(250, 235, 215, 0.096);
 border-radius: 1.5rem;
}

.projectItem h2{
  color:  #00ff00;
}
.projectLinks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectItem img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.3s ease 0.2;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;

}

.projectItem:hover{
  transform: scale(1.05);
}

.projectItem:hover img {
  filter: grayscale(0%);
}


footer{
  width: 100%;
  height: auto;
  background-color: #091d09bb;
  box-shadow: 4px 0px 20px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 4rem;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url('./src/img/folder.jpg'), linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)); 
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;

}
footer h2{
  color: #00ff00;
}

#email{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
/* Dispositivos pequenos (smartphones em retrato) */
@media (max-width: 320px) {
  /* Estilos para dispositivos menores que 320px */
  .menu {
    display: none;
    flex-direction: column;
    background-color: rgba(88, 88, 88, 0.952);
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    padding: 10px;
  }

  .menu.active {
    display: flex;
  }

  #hamburger {
    display: block;
  }

  header ul{
    gap: 1rem;
  }

  #folderContent{
    flex-direction: column-reverse;
  }

  #photoContainer img{
    width: 200px;
  }

  #folderTexts h1{
    font-size: 2rem;
  }

  #links{
    font-size: 1.4rem;
  }
  
  #skillsContainer{
    grid-template-columns: repeat(2, 1fr);
  
  }

  #projects{
    flex-direction: column;
    padding: 5rem;
  }

  .projectItem{
    width: 80vw;
  }

  #about{
    padding: 1rem;
  }

  footer{
    flex-direction: column;
    gap: 1.5rem;
  }

  
 
}

/* Smartphones padrão (retratos) */
@media (min-width: 321px) and (max-width: 480px) {
  /* Estilos para dispositivos entre 321px e 480px */
  .menu {
    display: none;
    flex-direction: column;
    background-color: rgba(88, 88, 88, 0.952);
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    padding: 10px;
  }

  .menu.active {
    display: flex;
  }

  #hamburger {
    display: block;
  }


  #folderContent{
    flex-direction: column-reverse;
  }

  #skillsContainer{
    grid-template-columns: repeat(2, 1fr);
  
  }

  #about{
    padding: 1rem;
  }

  #projects{
    flex-direction: column;
    padding: 5rem;
  }

  .projectItem{
    width: 80vw;
  }

  footer{
    flex-direction: column;
    gap: 1.5rem;
  }
}

/* Smartphones em paisagem e pequenos tablets */
@media (min-width: 481px) and (max-width: 768px) {
  /* Estilos para dispositivos entre 481px e 768px */
  #logo{
    width: 7rem;
  }
  nav{
    gap: 4rem;
  }
  #folderContent{
    flex-direction: column-reverse;
  }

  #skillsContainer{
    padding: 1rem;
    
  }

  #about{
    padding: 1rem;
  }

  #projects{
    flex-direction: column;
    padding: 2rem;
  }

  .projectItem{
    width: 80vw;
  }
  footer{
    flex-direction: column;
    gap: 1.5rem;
  }
}

/* Tablets (retrato) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para dispositivos entre 769px e 1024px */
}

/* Tablets (paisagem) e desktops pequenos */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* Estilos para dispositivos entre 1025px e 1200px */
}

/* Desktops médios */
@media (min-width: 1201px) and (max-width: 1440px) {
  /* Estilos para dispositivos entre 1201px e 1440px */
}

/* Desktops grandes */
@media (min-width: 1441px) and (max-width: 1920px) {
  /* Estilos para dispositivos entre 1441px e 1920px */
}

/* Telas ultra grandes */
@media (min-width: 1921px) {
  /* Estilos para dispositivos maiores que 1921px */
}

